$font-Basier-bold: 'Basier Circle Bold', SF Thonburi Bold;
$font-Basier-semiBold: 'Basier Circle SemiBold';
$font-Basier-medium: 'Basier Circle Medium';
$font-Basier-regular: 'Basier Circle Regular', SF Thonburi Regular;
$font-Thonburi-bold: 'SF Thonburi Bold';
$font-Thonburi-regular: 'SF Thonburi Regular';

$color-green-light: #3FDD6E;
$color-green-dark: #00423E;
$color-green: #3E9E6C;
$color-white: #fff;
$color-grey: #EAEAEA;
$color-grey-dark: #4E4E4E;
$color-grey-light: #F6F6F6;
$color-yellow-light: #FFFAF2