@import "assets/_variables";
@import "assets/fonts";

article {
    .section- {
        &profile {
            .col {
                &:first-of-type {
                    max-width: calc(100% - 970px);
                }

                &:last-of-type {
                    max-width: calc(100% - 230px);
                    border-left: 1px solid $color-grey;
                    border-bottom: 1px solid $color-grey;
                }
            }

            .box-upload {
                padding: 20px 0 20px 65px;

                img {
                    width: 114px;
                    height: 114px;
                    object-fit: cover;
                    border-radius: 50%;
                }


                .box-btn {
                    padding-left: 32px;
                    margin-left: 32px;
                    border-left: 1px solid $color-green;

                    .choose-btn {
                        font-size: 14px;
                        color: $color-green-light;
                        width: 159px;
                        height: 55px;
                        margin-right: 32px;
                        border: 1px solid $color-green;
                        border-radius: 3px;
                        cursor: pointer;
                    }

                    p {
                        font-size: 14px;
                        line-height: 23px;
                        color: $color-green;
                    }

                    input {
                        display: none;
                    }
                }
            }

            .col-content {
                padding: 44px 0 142px 65px;
                border-bottom: 0 !important;

                h1 {
                    font-family: $font-Basier-semiBold;
                    font-size: 21px;
                    color: $color-green;
                    margin-bottom: 24px;
                }
            }
        }
    }
}