@import "assets/_variables";
@import "assets/fonts";

section {
	--space: 5rem;

	h1 {
		color: $color-green;
	}

	&.section-intro {
		background-color: $yellow-light;
		padding-top: var(--space);
		padding-bottom: var(--space);
		.lead-main {
			max-width: 600px;
			margin: auto;
		}
		.filter-select {
			.btn-primary {
				background-color: $color-green;
				border-color: $color-green;
				border-radius: 40px;
				font-size: 14px;
				padding: 10px 30px;
				width: 130px;
				text-transform: uppercase;
				&:hover {
					background-color: $color-green-dark;
					border-color: $color-green-dark;
				}
			}
		}
		.swiper {
			width: 600px;
			height: 300px;
		}
	}
	&.section-popular {
		background-color: $yellow;
		padding-top: var(--space);
		padding-bottom: var(--space);
	}
	&.section-subscribe {
		.product-hot {
			position: absolute;
			right: 10%;
			bottom: -30%;
			width: 300px;
			height: 540px;
			background-color: #333;
			border-radius: 21px;
			transform: rotate(30deg);
			&:before {
				position: absolute;
				top: 10%;
				right: 10px;
				bottom: 10%;
				left: 10px;
				content: "";
				background-color: rgba(255, 255, 255, 0.1);
				border-radius: 5px;
			}
		}
	}
}

// Rating
.star-rating {
	direction: rtl;
	display: inline-block;
	padding: 20px;
	cursor: default;

	input[type="radio"] {
		display: none;
	}

	label {
		color: $color-green;
		font-size: 18px;
		padding: 0;
		cursor: pointer;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		.bi-star-fill {
			position: absolute;
			opacity: 0;
			-webkit-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
			&.active {
				opacity: 1;
			}
		}
	}

	label:hover,
	label:hover ~ label,
	input[type="radio"]:checked ~ label {
		color: $color-green;
		.bi-star-fill {
			opacity: 1;
		}
	}
}
