@import "assets/_variables";
@import "assets/fonts";

article {
    background: $color-yellow-light;

    .section- {
        &register {
            background: $color-yellow-light;

            .col-group {
                padding: 50px 133px 144px 133px;
                margin: 40px 0;
                background: $color-green-dark;
                border-radius: 8px;

                h1 {
                    font-size: 30px;
                    color: $color-white;
                    margin-bottom: 11px;
                }

                p {
                    font-size: 14px;
                    line-height: 23px;
                    color: $color-white;
                    margin-bottom: 35px;
                }
            }
        }
    }
}