@import "assets/_variables";
@import "assets/fonts";

section {
	--space: 5rem;
	--font-size: 12px;

	h1,
	h2,
	h3,
	h4 {
		color: $color-green;
		font-family: $font-Basier-medium;
	}

	h4 {
		font-size: 18px;
	}

	a {
		&:not([href]):not([class]),
		&:not([href]):not([class]):hover {
			color: $color-green;
			text-decoration: underline;
		}
		&:hover {
			color: $color-green;
			text-decoration: none;
		}
	}

	&.main {
		margin-bottom: 100px;
	}

	.card {
		&-img {
			border: 1px solid $color-grey;
			padding: 1rem;
		}
		&-title {
			white-space: normal;
		}
		&-text {
			font-size: 90%;
		}
		&-rating {
			.star-rating {
				label {
					font-size: var(--font-size);
				}
			}
		}
	}
}
