@import "assets/_variables";
@import "assets/fonts";

section {
	--space: 5rem;
	--font-size: 12px;

	h1,
	h2,
	h3,
	h4 {
		color: $color-green;
		font-family: $font-Basier-medium;
	}

	h4 {
		font-size: 18px;
	}

	a {
		color: $color-green;
		&:not([href]):not([class]),
		&:not([href]):not([class]):hover {
			color: $color-green;
			text-decoration: underline;
		}
		&:hover {
			color: $color-green;
			text-decoration: none;
		}
	}

	input {
		color: $color-base !important;
		&::placeholder {
			color: $color-base;
			font-size: 90%;
		}
		&:focus {
			outline: none !important;
			box-shadow: none !important;
		}
	}

	// Progress
	.progress {
		height: 7px;
		border-radius: 1rem;
		margin-top: 0.25rem;
		&-bar {
			height: 7px;
			background-color: $color-green;
			border-radius: 1rem;
		}
	}
}

.main {
	.swiper {
		max-width: 450px;
		margin-left: 0;
		// Card
		.card {
			&-rating {
				margin-right: 110px;
				border: none;
				justify-content: flex-start;
				margin-top: 0;
				.star-rating {
					margin-left: 20px;
				}
			}
		}
		&-button-next {
			right: 0;
		}
		&-button-prev {
			right: 60px;
		}
	}

	--space: 100px;

	#part-1 {
		margin-bottom: var(--space);
	}

	#part-2 {
		.row {
			--bs-gutter-x: 4.5rem;
			--bs-gutter-y: 0;
			display: flex;
			flex-wrap: wrap;
			margin-top: calc(-1 * var(--bs-gutter-y));
			margin-right: calc(-0.5 * var(--bs-gutter-x));
			margin-left: calc(-0.5 * var(--bs-gutter-x));
		}
		.form-report {
			max-width: 570px;
			position: relative;
			i {
				position: absolute;
				top: 10px;
				&.bi-chat-square-text {
					left: 20px;
				}
				&.bi-info-circle {
					right: 20px;
				}
			}
			input {
				background-color: $color-grey-light;
				border-radius: 60px;
				height: 40px;
				border: none;
				padding: 10px 50px;
			}
		}
		.product-details-tags {
			justify-content: space-between;
			.btn {
				width: calc(33.333% - 15px);
				font-size: 120%;
				img {
					max-width: 30px;
					margin: 0 0 8px;
				}
			}
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			h4 {
				text-decoration: underline;
			}
		}
		.card {
			&-note {
				color: #9f9f9f;
				p {
					font-size: 12px;
				}
				.card-body {
					padding: 1rem;
				}
			}
		}
	}

	.review {
		&-wrapper {
			a {
				text-decoration: underline;
			}
			.btn-outline {
				border-color: $color-green;
				background: transparent;
				color: $color-green;
				text-transform: capitalize;
				border-radius: 60px;
				padding: 10px 30px;
				min-width: 130px;
				text-transform: uppercase;
				border-width: 1px;
				text-decoration: none;

				&:hover {
					background-color: $color-green;
					color: $color-white !important;
				}
			}
			.review-list {
				.border-start {
					border-color: $color-green !important;
				}
				.card {
					border-radius: 15px;
					margin-bottom: 30px;
					&-header {
						background-color: transparent;
						display: flex;
						align-items: center;
						justify-content: space-between;
						padding: 20px 30px;
					}
					&-info {
						display: flex;
						align-items: center;
						.author {
							max-width: 100px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
					}
					&-body {
						padding: 30px;
					}
					&-footer {
						color: #9c9c9c;
						font-size: 13px;
						align-items: flex-end;
					}
					&-helpful {
						.btn-helpful {
							color: $color-green;
							font-family: $font-Basier-medium;
							margin-top: 20px;
							i {
								margin-right: 5px;
							}
						}
					}
					&-desc {
						span {
							color: #9c9c9c;
							font-size: 13px;
						}
					}
					&-date {
						font-size: 80%;
					}
					&-rating {
						border: none;
						margin: 0 0 0 15px;
						padding: 0 0 0 15px;
					}
				}
			}
		}
		&-title {
			span {
				color: #bfbfbf;
				font-size: 16px;
			}
		}
	}
}
