@font-face {
  font-family: "Basier Circle Bold";
  src: url("../fonts/BasierCircle-Bold.eot");
  src: url("../fonts/BasierCircle-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BasierCircle-Bold.woff2") format("woff2"), url("../fonts/BasierCircle-Bold.woff") format("woff"), url("../fonts/BasierCircle-Bold.ttf") format("truetype"), url("../fonts/BasierCircle-Bold.svg#BasierCircle-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Basier Circle SemiBold";
  src: url("../fonts/BasierCircle-SemiBold.eot");
  src: url("../fonts/BasierCircle-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BasierCircle-SemiBold.woff2") format("woff2"), url("../fonts/BasierCircle-SemiBold.woff") format("woff"), url("../fonts/BasierCircle-SemiBold.ttf") format("truetype"), url("../fonts/BasierCircle-SemiBold.svg#BasierCircle-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Basier Circle Medium";
  src: url("../fonts/BasierCircle-Medium.eot");
  src: url("../fonts/BasierCircle-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BasierCircle-Medium.woff2") format("woff2"), url("../fonts/BasierCircle-Medium.woff") format("woff"), url("../fonts/BasierCircle-Medium.ttf") format("truetype"), url("../fonts/BasierCircle-Medium.svg#BasierCircle-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Basier Circle Regular";
  src: url("../fonts/BasierCircle-Regular.eot");
  src: url("../fonts/BasierCircle-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BasierCircle-Regular.woff2") format("woff2"), url("../fonts/BasierCircle-Regular.woff") format("woff"), url("../fonts/BasierCircle-Regular.ttf") format("truetype"), url("../fonts/BasierCircle-Regular.svg#BasierCircle-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Thonburi Bold";
  src: url("../fonts/SFThonburi-Bold.eot");
  src: url("../fonts/SFThonburi-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFThonburi-Bold.woff2") format("woff2"), url("../fonts/SFThonburi-Bold.woff") format("woff"), url("../fonts/SFThonburi-Bold.ttf") format("truetype"), url("../fonts/SFThonburi-Bold.svg#SFThonburi-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Thonburi Regular";
  src: url("../fonts/SFThonburi-Regular.eot");
  src: url("../fonts/SFThonburi-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFThonburi-Regular.woff2") format("woff2"), url("../fonts/SFThonburi-Regular.woff") format("woff"), url("../fonts/SFThonburi-Regular.ttf") format("truetype"), url("../fonts/SFThonburi-Regular.svg#SFThonburi-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Basier Circle Regular", SF Thonburi Regular;
  color: #636363;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

a {
  font-family: "Basier Circle Regular", SF Thonburi Regular;
  text-decoration: none;
}

p {
  font-family: "Basier Circle Regular", SF Thonburi Regular;
  margin: 0;
}

img {
  max-width: 100%;
  display: inline-block;
}

header {
  border-top: 8px solid #3FDD6E;
  background-color: #fff;
  z-index: 10;
}
header .nav-top {
  height: 118px;
  background: #00423E;
}
header .nav-top .auth_button a {
  font-size: 13px;
  color: #fff;
}
header .nav-top .auth_button a img {
  margin-right: 10px;
}
header .nav-top .auth_button a:first-of-type {
  margin-right: 34px;
  position: relative;
}
header .nav-top .auth_button a:first-of-type:after {
  content: "";
  width: 1px;
  height: 14px;
  background: #3FDD6E;
  position: relative;
  right: -17px;
}
header .nav-top .user_profile .user_welcome {
  margin-right: 48px;
}
header .nav-top .user_profile .user_welcome img {
  margin-right: 14px;
  border: 1px solid #3FDD6E;
  border-radius: 50%;
}
header .nav-top .user_profile .user_welcome .welcome p {
  font-size: 13px;
  color: #fff;
  line-height: 15px;
}
header .nav-top .user_profile .user_welcome .welcome p span {
  font-size: 8px;
  color: #3FDD6E;
  line-height: 10px;
  display: block;
}
header .nav-top .user_profile .user_welcome:after {
  content: "";
  width: 1px;
  height: 14px;
  background: #3FDD6E;
  position: relative;
  top: 6px;
  right: -17px;
}
header .nav-top .user_profile .user_address p {
  color: #fff;
  margin-top: 13px;
  display: flex;
  align-items: center;
}
header .nav-top .user_profile .user_address p img {
  margin-right: 7px;
}
header .nav-bottom {
  height: 75px;
  background: #fff;
  border-bottom: 1px solid #EAEAEA;
}
header .nav-bottom .hamburger-menu {
  width: 80px;
  height: 75px;
  border-left: 1px solid #EAEAEA;
  border-right: 1px solid #EAEAEA;
  cursor: pointer;
}
header .nav-bottom .hamburger-menu span {
  width: 24px;
  height: 2px;
  background: #3E9E6C;
  position: absolute;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
header .nav-bottom .hamburger-menu span:nth-child(1) {
  transform: translateY(-7px);
}
header .nav-bottom .hamburger-menu span:nth-child(3) {
  transform: translateY(7px);
}
header .nav-bottom form {
  position: relative;
  border-right: 1px solid #EAEAEA;
}
header .nav-bottom form input {
  font-size: 15px;
  color: #3E9E6C;
  width: 370px;
  height: 100%;
  padding: 0 66px 0 40px;
  border: 0;
  background: #0000;
  outline: 0;
}
header .nav-bottom form input::placeholder {
  color: #3E9E6C;
}
header .nav-bottom form button {
  width: 66px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #0000;
  border: 0;
}
header .nav-bottom nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -33px;
}
header .nav-bottom nav ul li a {
  font-size: 15px;
  color: #4E4E4E;
  padding: 15px 33px;
}

footer {
  background: #F6F6F6;
}
footer .footer-top {
  padding: 7px 0;
  border-bottom: 1px solid #EAEAEA;
}
footer .footer-top img {
  max-height: 65px;
}
footer .footer-top ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -33px;
}
footer .footer-top ul li a {
  font-size: 15px;
  color: #4E4E4E;
  padding: 15px 33px;
}
footer .footer-bottom {
  padding: 26px 0 76px 0;
}
footer .footer-bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer-bottom ul.social-list {
  margin: 27px -17px 35px -17px;
}
footer .footer-bottom ul.social-list li a {
  padding: 17px;
}
footer .footer-bottom ul.social-list li a img {
  width: 100%;
  max-width: 20px;
  max-height: 20px;
}
footer .footer-bottom ul.footer-nav {
  padding: 0 0 0 32px;
}
footer .footer-bottom ul.footer-nav li a {
  font-size: 16px;
  line-height: 36px;
  color: #4E4E4E;
}
footer .footer-bottom p {
  font-size: 15px;
  color: #4E4E4E;
}

article {
  padding-top: 200px;
}

/*# sourceMappingURL=global.css.map */
