@font-face {
  font-family: "Basier Circle Bold";
  src: url("../fonts/BasierCircle-Bold.eot");
  src: url("../fonts/BasierCircle-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BasierCircle-Bold.woff2") format("woff2"), url("../fonts/BasierCircle-Bold.woff") format("woff"), url("../fonts/BasierCircle-Bold.ttf") format("truetype"), url("../fonts/BasierCircle-Bold.svg#BasierCircle-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Basier Circle SemiBold";
  src: url("../fonts/BasierCircle-SemiBold.eot");
  src: url("../fonts/BasierCircle-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BasierCircle-SemiBold.woff2") format("woff2"), url("../fonts/BasierCircle-SemiBold.woff") format("woff"), url("../fonts/BasierCircle-SemiBold.ttf") format("truetype"), url("../fonts/BasierCircle-SemiBold.svg#BasierCircle-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Basier Circle Medium";
  src: url("../fonts/BasierCircle-Medium.eot");
  src: url("../fonts/BasierCircle-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BasierCircle-Medium.woff2") format("woff2"), url("../fonts/BasierCircle-Medium.woff") format("woff"), url("../fonts/BasierCircle-Medium.ttf") format("truetype"), url("../fonts/BasierCircle-Medium.svg#BasierCircle-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Basier Circle Regular";
  src: url("../fonts/BasierCircle-Regular.eot");
  src: url("../fonts/BasierCircle-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BasierCircle-Regular.woff2") format("woff2"), url("../fonts/BasierCircle-Regular.woff") format("woff"), url("../fonts/BasierCircle-Regular.ttf") format("truetype"), url("../fonts/BasierCircle-Regular.svg#BasierCircle-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Thonburi Bold";
  src: url("../fonts/SFThonburi-Bold.eot");
  src: url("../fonts/SFThonburi-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFThonburi-Bold.woff2") format("woff2"), url("../fonts/SFThonburi-Bold.woff") format("woff"), url("../fonts/SFThonburi-Bold.ttf") format("truetype"), url("../fonts/SFThonburi-Bold.svg#SFThonburi-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Thonburi Regular";
  src: url("../fonts/SFThonburi-Regular.eot");
  src: url("../fonts/SFThonburi-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFThonburi-Regular.woff2") format("woff2"), url("../fonts/SFThonburi-Regular.woff") format("woff"), url("../fonts/SFThonburi-Regular.ttf") format("truetype"), url("../fonts/SFThonburi-Regular.svg#SFThonburi-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --caryophyllene: #ab0261;
  --humulene: #97d700;
  --limonene: #eedc00;
  --linalool: #5c098c;
  --myrcene: #07058d;
  --ocimene: #e0034d;
  --pinene: #01af66;
  --terpinolene: #ff671e;
}

body {
  font-family: "Basier Circle Regular", SF Thonburi Regular;
  color: #636363;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

a {
  font-family: "Basier Circle Regular", SF Thonburi Regular;
  text-decoration: none;
}

p {
  font-family: "Basier Circle Regular", SF Thonburi Regular;
  margin: 0;
}

img {
  max-width: 100%;
  display: inline-block;
}

header {
  border-top: 8px solid #3FDD6E;
  background-color: #fff;
  z-index: 10;
}
header .nav-top {
  height: 118px;
  background: #00423E;
}
@media screen and (max-width: 767px) {
  header .nav-top {
    padding: 10px 0 20px;
  }
}
header .nav-top .logo {
  max-width: 180px;
  margin: 0 auto 1rem;
  display: block;
}
header .nav-top .auth_button a {
  font-size: 13px;
  color: #fff;
}
header .nav-top .auth_button a img {
  margin-right: 10px;
}
header .nav-top .auth_button a:first-of-type {
  margin-right: 34px;
  position: relative;
}
header .nav-top .auth_button a:first-of-type:after {
  content: "";
  width: 1px;
  height: 14px;
  background: #3FDD6E;
  position: relative;
  right: -17px;
}
@media screen and (max-width: 767px) {
  header .nav-top .user_profile {
    display: none !important;
  }
}
header .nav-top .user_profile .user_welcome {
  margin-right: 48px;
}
header .nav-top .user_profile .user_welcome img {
  width: 56px;
  height: 56px;
  object-fit: cover;
  margin-right: 14px;
  border: 1px solid #3FDD6E;
  border-radius: 50%;
}
header .nav-top .user_profile .user_welcome .welcome p {
  font-size: 13px;
  color: #fff;
  line-height: 15px;
}
header .nav-top .user_profile .user_welcome .welcome p span {
  font-size: 8px;
  color: #3FDD6E;
  line-height: 10px;
  display: block;
}
header .nav-top .user_profile .user_welcome:after {
  content: "";
  width: 1px;
  height: 14px;
  background: #3FDD6E;
  position: relative;
  top: 6px;
  right: -17px;
}
header .nav-top .user_profile .user_address p {
  color: #fff;
  margin-top: 13px;
  display: flex;
  align-items: center;
}
header .nav-top .user_profile .user_address p img {
  margin-right: 7px;
}
header .nav-bottom {
  height: 75px;
  background: #fff;
  border-bottom: 1px solid #EAEAEA;
}
@media screen and (max-width: 767px) {
  header .nav-bottom {
    height: 50px;
  }
}
header .nav-bottom .hamburger-menu {
  width: 80px;
  height: 75px;
  border-left: 1px solid #EAEAEA;
  border-right: 1px solid #EAEAEA;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  header .nav-bottom .hamburger-menu {
    height: 50px;
    width: 50px;
  }
}
header .nav-bottom .hamburger-menu span {
  width: 24px;
  height: 2px;
  background: #3E9E6C;
  position: absolute;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
header .nav-bottom .hamburger-menu span:nth-child(1) {
  transform: translateY(-7px);
}
header .nav-bottom .hamburger-menu span:nth-child(3) {
  transform: translateY(7px);
}
header .nav-bottom form {
  position: relative;
  border-right: 1px solid #EAEAEA;
}
@media screen and (max-width: 767px) {
  header .nav-bottom form {
    width: calc(100% - 70px);
  }
}
header .nav-bottom form input {
  font-size: 15px;
  color: #3E9E6C;
  width: 370px;
  height: 100%;
  padding: 0 66px 0 40px;
  border: 0;
  background: #0000;
  outline: 0;
}
header .nav-bottom form input::placeholder {
  color: #3E9E6C;
}
header .nav-bottom form button {
  width: 66px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #0000;
  border: 0;
}
@media screen and (max-width: 767px) {
  header .nav-bottom nav {
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    right: 0;
    background: #fff;
    padding: 10px 0;
    transition: all 0.25s linear;
    transform: translateX(100%);
  }
  header .nav-bottom nav.active {
    transform: translateX(0);
  }
}
header .nav-bottom nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -33px;
}
@media screen and (max-width: 767px) {
  header .nav-bottom nav ul {
    flex-direction: column;
    margin: 0;
  }
}
header .nav-bottom nav ul li a {
  font-size: 15px;
  color: #4E4E4E;
  padding: 15px 33px;
}
@media screen and (max-width: 767px) {
  header .nav-bottom nav ul li a {
    font-size: 15px;
    padding: 5px 20px;
    display: block;
  }
}

footer {
  background: #F6F6F6;
}
footer .footer-top {
  padding: 7px 0;
  border-bottom: 1px solid #EAEAEA;
}
footer .footer-top img {
  max-height: 65px;
}
footer .footer-top ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -33px;
}
footer .footer-top ul li a {
  font-size: 15px;
  color: #4E4E4E;
  padding: 15px 33px;
}
footer .footer-bottom {
  padding: 26px 0 76px 0;
}
footer .footer-bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer-bottom ul.social-list {
  margin: 27px -17px 35px -17px;
}
footer .footer-bottom ul.social-list li a {
  padding: 17px;
}
footer .footer-bottom ul.social-list li a img {
  width: 100%;
  max-width: 20px;
  max-height: 20px;
}
footer .footer-bottom ul.footer-nav {
  padding: 0 0 0 32px;
}
footer .footer-bottom ul.footer-nav li a {
  font-size: 16px;
  line-height: 36px;
  color: #4E4E4E;
}
footer .footer-bottom p {
  font-size: 15px;
  color: #4E4E4E;
}

article {
  padding-top: 200px;
}
article ul.profile_menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
article ul.profile_menu li a {
  color: #3E9E6C;
  line-height: 40px;
}
article ul.profile_menu li a.active {
  font-family: "Basier Circle SemiBold";
}
article .border,
article .border-end,
article .border-top,
article .border-bottom,
article .border-start {
  border-color: #EAEAEA !important;
}
article .btn-primary {
  background-color: #3E9E6C;
  border-color: #3E9E6C;
  border-radius: 40px;
  font-size: 14px;
  padding: 10px 30px;
  min-width: 130px;
  text-transform: uppercase;
}
article .btn-primary:hover {
  background-color: #00423E;
  border-color: #00423E;
}
article .btn-outline {
  border: 2px solid #fff;
}
article .btn-outline:hover {
  background-color: #fff;
  color: #3E9E6C !important;
}

aside.sidebar {
  margin-top: 90px;
}
@media screen and (max-width: 767px) {
  aside.sidebar {
    margin-top: 0;
  }
}
aside.sidebar ul {
  list-style-type: none;
}
aside.sidebar ul li {
  color: #000000;
  transition: all 0.25s linear;
}
aside.sidebar h3 {
  text-transform: uppercase;
  font-size: 16px;
  color: #000000;
}
aside.sidebar .accordion-item {
  border-left: none;
  border-right: none;
  border-color: #EAEAEA;
  border-radius: 0;
}
aside.sidebar .accordion-button {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  font-family: "Basier Circle Regular", SF Thonburi Regular;
}
aside.sidebar .accordion-button:after {
  content: "+";
  background: none;
  transform: none;
  text-align: center;
}
aside.sidebar .accordion-button:not(.collapsed) {
  color: #000000;
  background-color: transparent;
  box-shadow: none;
}
aside.sidebar .accordion-button:not(.collapsed):after {
  content: "-";
}
aside.sidebar .accordion-button:focus {
  box-shadow: none;
}
aside.sidebar .accordion-body {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
aside.sidebar .accordion-footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
aside.sidebar .accordion-footer ul a {
  cursor: pointer;
  text-decoration: none;
}
aside.sidebar .accordion-footer ul a:hover {
  text-decoration: underline;
}

.form-check-green {
  font-size: 90%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #000000;
}
.form-check-green .form-check-input {
  border-color: #3E9E6C;
  border-width: 2px;
}
.form-check-green .form-check-input:checked[type=checkbox] {
  background-image: none;
}
.form-check-green .form-check-input:checked {
  background-color: #3E9E6C;
  border-color: #3E9E6C;
}
.form-check-green .form-check-input:focus {
  box-shadow: none;
  outline: none;
  border-color: #3E9E6C;
}

.form-radio-green {
  border-color: #3E9E6C;
}
.form-radio-green:checked {
  background-color: #3E9E6C;
  border-color: #3E9E6C;
}
.form-radio-green:checked[type=radio] {
  background-image: none;
}
.form-radio-green:focus {
  box-shadow: none;
}

.pagination {
  justify-content: center;
  margin-bottom: 0;
}
.pagination-wrapper {
  color: #3E9E6C;
  font-family: "Basier Circle Medium";
}
.pagination-wrapper .pagination .page-link {
  text-decoration: none;
  border-radius: 0.25rem;
  padding: 0.375rem 1rem;
  color: #aaaaaa;
}
.pagination-wrapper .pagination .page-link.prev, .pagination-wrapper .pagination .page-link.next {
  color: #3E9E6C;
}
.pagination-wrapper .pagination .page-link.active {
  border-color: #3E9E6C;
  color: #3E9E6C;
}
.pagination-wrapper .pagination .page-link:hover {
  color: #3E9E6C;
  border-color: #3E9E6C !important;
}
.pagination-wrapper .pagination .disabled {
  text-decoration: none;
}
.pagination-wrapper .pagination .disabled .page-link {
  color: #3E9E6C;
}
.pagination .page-link {
  color: #f7c67f;
  background-color: transparent;
  border-color: transparent;
}
.pagination .page-link:hover {
  border-color: #00423E;
  border-radius: 0.25rem;
}
.pagination .disabled .page-link {
  color: #f7c67f;
  background-color: transparent;
  border-color: transparent;
}

.filter-simple {
  padding-left: 1.5rem;
  border-top: 1px solid #EAEAEA;
  padding-top: 1rem;
}
.filter-simple li,
.filter-simple a {
  color: #000000;
  text-decoration: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 14px;
}
.filter-simple li:hover,
.filter-simple a:hover {
  color: #000000;
  text-decoration: underline;
}
.filter-by-type {
  padding: 0;
  margin: 0;
  border-top: 1px solid #EAEAEA;
}
.filter-by-type li {
  padding-left: 0;
  padding-right: 0;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #EAEAEA;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.filter-by-type li.active, .filter-by-type li:hover {
  background: none;
}
.filter-by-type li.active .card-img-left, .filter-by-type li:hover .card-img-left {
  background-color: #00423E;
}
.filter-by-type li .card-img-left {
  width: 65px;
  height: 65px;
  border-radius: 65px;
  border: 2px solid #3FDD6E;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-right: 15px;
  transition: all 0.25s linear;
}
.filter-terpenes {
  padding: 0;
  margin: 0;
}
.filter-terpenes li {
  display: block;
  position: relative;
  padding-left: 20px;
  font-size: var(--font-size);
  font-size: 90%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.filter-terpenes li:before {
  content: "";
  width: 7px;
  height: 100%;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 0;
}

.item-caryophyllene:before {
  background-color: var(--caryophyllene);
}
.item-humulene:before {
  background-color: var(--humulene);
}
.item-limonene:before {
  background-color: var(--limonene);
}
.item-linalool:before {
  background-color: var(--linalool);
}
.item-myrcene:before {
  background-color: var(--myrcene);
}
.item-ocimene:before {
  background-color: var(--ocimene);
}
.item-pinene:before {
  background-color: var(--pinene);
}
.item-terpinolene:before {
  background-color: var(--terpinolene);
}

.breadcrumb {
  margin: 3rem 0;
}
.breadcrumb .breadcrumb-item {
  color: #3E9E6C;
}
.breadcrumb .breadcrumb-item a {
  color: #3E9E6C;
}
.breadcrumb .breadcrumb-item.active {
  color: #636363;
}
.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  color: #3E9E6C;
  content: var(--bs-breadcrumb-divider, ">");
}

.card {
  background: transparent;
  border: none;
}
.card-rating {
  border-color: inherit;
}
.card-title {
  text-align: left;
  margin: 1rem 0 0;
}
.card-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card-body {
  padding: 1rem 0 0;
  text-align: left;
}
.card-footer {
  background: transparent;
  border: none;
  text-align: left;
  padding: 0;
  margin: 2rem 0 0;
}
.card-footer .btn {
  font-size: 13px !important;
}
.card-footer .btn-primary {
  background-color: #3E9E6C;
  border-color: #3E9E6C;
  border-radius: 40px;
  font-size: 14px;
  padding: 10px 30px;
  min-width: 130px;
  text-transform: uppercase;
}
.card-footer .btn-primary:hover {
  background-color: #00423E;
  border-color: #00423E;
}
.card-footer .btn-outline {
  border-color: #3E9E6C;
  background: transparent;
  color: #3E9E6C;
  text-transform: capitalize;
  border-radius: 60px;
  padding: 10px 30px;
  min-width: 130px;
  text-transform: uppercase;
  border-width: 1px;
}
.card-footer .btn-outline:hover {
  background-color: #3E9E6C;
  color: #fff !important;
}
.card-attribute {
  margin: 1.5rem 0 1rem;
}
.card-attribute span {
  display: block;
  position: relative;
  padding-left: 20px;
  font-size: var(--font-size);
}
.card-attribute span:before {
  content: "";
  width: 7px;
  height: 100%;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 0;
}
.card-progress {
  margin: 1rem 0;
}
.card-favotite-wrapper {
  position: absolute;
  right: 10px;
  display: flex;
  width: auto;
  align-items: center;
  background: #eaeaea;
  border-radius: 20px;
  padding: 5px 20px;
  top: 10px;
  font-size: 70%;
}
.card-favotite-wrapper .card-favorite {
  position: relative;
  right: auto;
  top: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-favorite {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #3E9E6C;
  cursor: pointer;
}
.card-favorite:before {
  content: "\f417";
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.card-favorite.active:before, .card-favorite:hover:before {
  content: "\f415";
}

.card-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  padding: 1rem 0;
  margin: 1.5rem 0;
  color: #3E9E6C;
}
.card-rating .star-rating {
  direction: rtl;
  display: inline-block;
  cursor: default;
}
.card-rating .star-rating input[type=radio] {
  display: none;
}
.card-rating .star-rating label {
  color: #3E9E6C;
  font-size: 18px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card-rating .star-rating label .bi-star-fill {
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card-rating .star-rating label .bi-star-fill.active {
  opacity: 1;
}

.product-details-percent, .product-details-tags {
  color: #000000;
  font-size: var(--font-size);
}
.product-details-percent .btn-outline, .product-details-tags .btn-outline {
  border-color: #d0d0d0;
  border-width: 1px;
}
.product-details-percent .btn-outline:hover, .product-details-tags .btn-outline:hover {
  background-color: #d0d0d0;
  color: #fff !important;
}
.product-details-percent .btn-default, .product-details-tags .btn-default {
  background-color: #EAEAEA;
  font-size: var(--font-size);
}
.product-details-percent {
  margin-bottom: 1.5rem;
}
.product-details-percent ul {
  list-style: none;
  padding: 0 0 0 10px;
  margin: 0;
  max-width: 180px;
  grid-template-columns: 1fr 1fr;
  white-space: nowrap;
}
.product-details-percent ul img {
  margin-right: 0.25rem;
}
.product-details-percent ul li + li {
  margin-left: 0.5rem;
}
.product-details-tags .btn {
  padding: 12px;
  font-size: var(--font-size);
}
.product-details-tags img {
  margin-right: 0.25rem;
}
.product-details-tags span + span {
  margin-left: 0.5rem;
}

.text-green {
  color: #3E9E6C;
}

.main .swiper-button-prev, .main .swiper-button-next {
  background-color: #00423E;
  width: 50px;
  height: 50px;
  border-radius: 0.25rem;
  top: auto;
  bottom: 30px;
  left: auto;
  transition: all 0.15s ease-in-out;
}
.main .swiper-button-prev:hover, .main .swiper-button-next:hover {
  background-color: #3E9E6C;
}
.main .swiper-button-prev:after, .main .swiper-button-next:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 40%;
  left: 40%;
}
.main .swiper-button-prev {
  right: 410px;
}
.main .swiper-button-prev:after {
  content: "";
  border-style: solid;
  border-width: 5px 10px 5px 0;
  border-color: transparent #3FDD6E transparent transparent;
}
.main .swiper-button-next {
  right: 350px;
}
.main .swiper-button-next::after {
  content: "";
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #3FDD6E;
}

/*# sourceMappingURL=global.css.map */
