@font-face {
  font-family: "Basier Circle Bold";
  src: url("../fonts/BasierCircle-Bold.eot");
  src: url("../fonts/BasierCircle-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BasierCircle-Bold.woff2") format("woff2"), url("../fonts/BasierCircle-Bold.woff") format("woff"), url("../fonts/BasierCircle-Bold.ttf") format("truetype"), url("../fonts/BasierCircle-Bold.svg#BasierCircle-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Basier Circle SemiBold";
  src: url("../fonts/BasierCircle-SemiBold.eot");
  src: url("../fonts/BasierCircle-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BasierCircle-SemiBold.woff2") format("woff2"), url("../fonts/BasierCircle-SemiBold.woff") format("woff"), url("../fonts/BasierCircle-SemiBold.ttf") format("truetype"), url("../fonts/BasierCircle-SemiBold.svg#BasierCircle-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Basier Circle Medium";
  src: url("../fonts/BasierCircle-Medium.eot");
  src: url("../fonts/BasierCircle-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BasierCircle-Medium.woff2") format("woff2"), url("../fonts/BasierCircle-Medium.woff") format("woff"), url("../fonts/BasierCircle-Medium.ttf") format("truetype"), url("../fonts/BasierCircle-Medium.svg#BasierCircle-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Basier Circle Regular";
  src: url("../fonts/BasierCircle-Regular.eot");
  src: url("../fonts/BasierCircle-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BasierCircle-Regular.woff2") format("woff2"), url("../fonts/BasierCircle-Regular.woff") format("woff"), url("../fonts/BasierCircle-Regular.ttf") format("truetype"), url("../fonts/BasierCircle-Regular.svg#BasierCircle-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Thonburi Bold";
  src: url("../fonts/SFThonburi-Bold.eot");
  src: url("../fonts/SFThonburi-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFThonburi-Bold.woff2") format("woff2"), url("../fonts/SFThonburi-Bold.woff") format("woff"), url("../fonts/SFThonburi-Bold.ttf") format("truetype"), url("../fonts/SFThonburi-Bold.svg#SFThonburi-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Thonburi Regular";
  src: url("../fonts/SFThonburi-Regular.eot");
  src: url("../fonts/SFThonburi-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFThonburi-Regular.woff2") format("woff2"), url("../fonts/SFThonburi-Regular.woff") format("woff"), url("../fonts/SFThonburi-Regular.ttf") format("truetype"), url("../fonts/SFThonburi-Regular.svg#SFThonburi-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.input-group > .form-control:focus,
.input-group > .form-select:focus,
.btn:focus {
  outline: 0 !important;
  box-shadow: none;
}

.form-control::placeholder {
  color: #fff;
}

section {
  --space: 5rem;
}
section h1,
section h2,
section h3,
section h4 {
  color: #3E9E6C;
}
section h4 {
  font-size: 18px;
}
section a {
  color: #3E9E6C;
  text-decoration: underline;
}
section a:hover {
  color: #3E9E6C;
  text-decoration: none;
}
section select {
  position: relative;
}
section select:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #3E9E6C transparent transparent transparent;
}
section .badge-primary {
  border: 2px solid #d0d0d0;
}
section .pagination {
  justify-content: center;
  margin-bottom: 0;
}
section .pagination .page-link {
  color: #f7c67f;
  background-color: transparent;
  border-color: transparent;
}
section .pagination .page-link:hover {
  border-color: #00423E;
  border-radius: 0.25rem;
}
section .pagination .disabled .page-link {
  color: #f7c67f;
  background-color: transparent;
  border-color: transparent;
}
section.section-intro {
  background-color: #FFFAF2;
  padding-top: var(--space);
  padding-bottom: var(--space);
}
@media screen and (max-width: 767px) {
  section.section-intro {
    padding-top: calc(var(--space) / 2);
    padding-bottom: calc(var(--space) / 2);
  }
}
section.section-intro form {
  padding-bottom: var(--space);
}
@media screen and (max-width: 767px) {
  section.section-intro form {
    padding-bottom: calc(var(--space) / 2);
  }
}
section.section-intro .lead-main {
  max-width: 600px;
  margin: auto;
}
section.section-intro .filter-select .form-group {
  position: relative;
}
section.section-intro .filter-select .form-group i {
  position: absolute;
  right: 20px;
  top: 16px;
  font-size: 12px;
  color: #3E9E6C;
}
@media screen and (max-width: 767px) {
  section.section-intro .filter-select .form-group i {
    top: 38%;
  }
}
@media screen and (max-width: 767px) {
  section.section-intro .filter-select .form-group {
    width: 260px;
    margin: auto;
  }
}
section.section-intro .filter-select .form-control {
  border-color: #F0D8B3;
  background-color: #FFFAF2;
  border-radius: 60px;
  width: 200px;
  height: 50px;
  padding: 10px 20px;
  color: #3E9E6C;
}
@media screen and (max-width: 767px) {
  section.section-intro .filter-select .form-control {
    width: 260px;
    margin: 10px auto;
  }
}
section.section-intro .filter-select .form-control:focus {
  box-shadow: none;
}
@media screen and (min-width: 768px) {
  section.section-intro .filter-select .btn-primary {
    margin-left: 1.5rem;
  }
}
@media screen and (max-width: 767px) {
  section.section-intro .filter-select .btn-primary {
    width: 260px;
  }
}
section.section-intro .swiper {
  width: calc(100% - 5px);
  min-height: 500px;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  margin-right: 0;
}
@media screen and (max-width: 767px) {
  section.section-intro .swiper {
    margin: 1rem 0 0;
    min-height: auto;
    width: 100%;
  }
}
section.section-intro .swiper-wrapper, section.section-intro .swiper-slide {
  height: 100%;
  position: relative;
}
section.section-intro .swiper-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  section.section-intro .swiper-img {
    position: relative;
    height: 250px;
  }
}
section.section-intro .swiper-img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
section.section-intro .swiper-button-prev, section.section-intro .swiper-button-next {
  background-color: #00423E;
  width: 50px;
  height: 50px;
  border-radius: 0.25rem;
  top: auto;
  bottom: 30px;
  left: auto;
  transition: all 0.15s ease-in-out;
}
@media screen and (max-width: 767px) {
  section.section-intro .swiper-button-prev, section.section-intro .swiper-button-next {
    display: none;
  }
}
section.section-intro .swiper-button-prev:hover, section.section-intro .swiper-button-next:hover {
  background-color: #3E9E6C;
}
section.section-intro .swiper-button-prev:after, section.section-intro .swiper-button-next:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 40%;
  left: 40%;
}
section.section-intro .swiper-button-prev {
  right: 410px;
}
section.section-intro .swiper-button-prev:after {
  content: "";
  border-style: solid;
  border-width: 5px 10px 5px 0;
  border-color: transparent #3FDD6E transparent transparent;
}
section.section-intro .swiper-button-next {
  right: 350px;
}
section.section-intro .swiper-button-next::after {
  content: "";
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #3FDD6E;
}
section.section-intro .section-slide-1 .card {
  background-color: #00423E;
  color: #fff;
  border: none;
  text-align: left;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
section.section-intro .section-slide-1 .card .icon-leaf {
  padding: 20px 20px 0 0;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  right: 0;
}
section.section-intro .section-slide-1 .card-body {
  padding: 1.5rem 2.5rem 2.5rem;
}
section.section-intro .section-slide-1 .card-title {
  min-height: 60px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}
section.section-intro .section-slide-1 .card-img {
  border: none;
}
section.section-intro .section-slide-1 .card .btn-primary {
  margin-top: 2rem;
  font-family: "Basier Circle Medium";
}
section.section-intro .section-slide-1 .swiper-content {
  z-index: 1;
  max-width: 320px;
  text-align: left;
  padding: 30px;
  background: rgba(255, 255, 255, 0.48);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  position: relative;
}
@media screen and (max-width: 767px) {
  section.section-intro .section-slide-1 .swiper-content {
    width: 100%;
    max-width: 100%;
  }
}
section.section-intro .section-slide-1 .swiper-content .btn-outline {
  border-color: #d0d0d0;
}
section.section-intro .section-slide-1 .swiper-content .btn-outline:hover {
  background-color: #d0d0d0;
  color: #fff !important;
}
section.section-intro .section-slide-1 .swiper-content .recommend {
  background-color: #00423E;
  color: #fff;
  padding: 12px 15px;
  border-radius: 10px;
  max-width: 150px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
section.section-intro .section-slide-1 .swiper-content .btn-learn-more {
  width: 100%;
  max-width: 400px;
  margin: 2rem auto 0;
  padding: 15px;
  font-family: "Basier Circle Medium";
}
section.section-intro .section-slide-2 {
  margin-top: 5px;
}
section.section-intro .section-slide-2 .card {
  background-color: #3E9E6C;
  color: #fff;
  border: none;
  text-align: left;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  z-index: 2;
  height: 100%;
  color: #fff;
}
section.section-intro .section-slide-2 .card-body {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.section-intro .section-slide-2 .card-title {
  color: #fff;
  margin-bottom: 0;
}
section.section-intro .section-slide-2 .card-text {
  margin: 1.5rem 0;
}
section.section-intro .section-slide-2 .card .btn {
  width: 100%;
  max-width: 200px;
  padding: 15px;
  font-family: "Basier Circle Medium";
  border-radius: 60px;
  color: #fff;
  text-transform: uppercase;
}
section.section-intro .section-slide-2 .swiper {
  height: 350px;
  min-height: auto;
}
section.section-intro .section-slide-2 .swiper-content {
  height: 100%;
  margin-left: auto;
}
section.section-intro .section-slide-2 .swiper-button-next {
  right: calc(33.33333333% + 30px);
}
section.section-intro .section-slide-2 .swiper-button-prev {
  right: calc(33.33333333% + 90px);
}
section.section-popular {
  background-color: #FFF3E0;
  padding-top: var(--space);
  padding-bottom: var(--space);
}
@media screen and (max-width: 767px) {
  section.section-popular {
    padding-top: calc(var(--space) / 2);
    padding-bottom: calc(var(--space) / 2);
  }
}
section.section-popular .lead-main {
  border-bottom: 1px solid #f3e1c4;
  padding-bottom: calc(var(--space) / 2);
  margin-bottom: calc(var(--space) / 2);
}
section.section-popular .lead-main h2 {
  margin-bottom: 1rem;
}
section.section-popular .card {
  background: transparent;
  border: none;
}
@media screen and (max-width: 767px) {
  section.section-popular .card {
    max-width: 260px;
    margin: 1rem auto;
  }
}
section.section-popular .card-rating {
  border-color: #f3e1c4;
}
section.section-popular .pagination {
  margin-top: var(--space);
}
section.section-subscribe {
  background-color: #00423E;
  color: #fff;
  position: relative;
  min-height: 400px;
}
section.section-subscribe .icon-leaf {
  position: absolute;
  right: 30px;
  top: 30px;
}
section.section-subscribe .card {
  padding: 4rem 0;
  max-width: 430px;
}
section.section-subscribe .card-title {
  margin: 0 0 1.5rem;
}
section.section-subscribe .card-body {
  padding: 0;
}
section.section-subscribe .input-group {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
section.section-subscribe .input-group input {
  background-color: transparent;
  color: #fff;
  border-color: #007871;
  height: 60px;
  border-radius: 0.5rem;
}
section.section-subscribe .input-group .btn-primary {
  border-radius: 0.5rem;
  margin-left: -10px;
}
section.section-subscribe .input-group .btn-primary:hover {
  background-color: #007871;
  border: 1px solid #007871;
}
section.section-subscribe .product-hot {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
}
section.section-subscribe .product-hot:before {
  content: "";
  position: absolute;
  background: url("../images/home/subscribe_img_01.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  right: 0;
  top: 0;
}
section .shop-location {
  padding-top: var(--space);
}
section .shop-location .btn-default {
  border-radius: 0.25rem !important;
  border: 1px solid #EAEAEA;
  color: #3E9E6C;
  margin-bottom: 1rem;
  padding: 5px 7px;
}
section .shop-location .filter-header {
  font-size: 16px;
  font-family: "Basier Circle Medium";
}
section .shop-location .filter-header .btn-filter {
  margin-bottom: 1rem;
}
section .shop-location .filter-header .btn-filter .btn {
  color: #3E9E6C;
  border-radius: 60px;
  padding: 8px 16px;
  min-width: 50px;
}
section .shop-location .filter-header .btn-filter .btn.active, section .shop-location .filter-header .btn-filter .btn:hover {
  background: #00423e;
}
section .shop-location .filter-header h3 {
  font-size: 16px;
  font-family: "Basier Circle Medium";
}
section .shop-location .filter-by-tag .btn-group {
  padding: 1rem;
  font-family: "Basier Circle Medium";
}
section .shop-location .filter-result,
section .shop-location .sort,
section .shop-location .form-control {
  font-size: 90%;
}
section .shop-location .form-control {
  padding: 0;
  border: none;
  margin-left: 10px;
}
section .shop-location label {
  white-space: nowrap;
}
section .shop-location .card {
  font-size: 90%;
}
section .shop-location .card-img-top {
  height: 100px;
  overflow: hidden;
}
section .shop-location .card-img-top img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}
section .shop-location .card-status {
  font-size: 85%;
  display: flex;
  align-items: center;
}
section .shop-location .card-status .close {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #c70909;
  display: inline-block;
  margin-right: 5px;
}
section .shop-location .card-footer {
  font-size: 90%;
}
section .shop-location .card .btn-sale {
  background: #ce1090;
  color: #fff;
  font-size: 90%;
}
section .shop-location .google-map {
  background: url("../images/home/mockup_map.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
}
section .shop-results .border {
  padding: 0.5rem 1rem;
  border-radius: 60px;
  font-size: 80%;
  margin-bottom: 2rem;
}
section .shop-results .card-img-top {
  height: 200px;
}
section .shop-results .card-img-top img {
  object-position: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
section .shop-results .btn-outline {
  border-color: #3E9E6C;
  background: transparent;
  color: #3E9E6C;
  text-transform: capitalize;
  border-radius: 60px;
  padding: 10px 30px;
  min-width: 130px;
  text-transform: uppercase;
  border-width: 1px;
}
section .shop-results .btn-outline:hover {
  background-color: #3E9E6C;
  color: #fff !important;
}
section .shop-results .pagination {
  padding-top: var(--space);
  padding-bottom: var(--space);
}
section.section-welcome {
  padding-top: var(--space);
  padding-bottom: var(--space);
}
section.section-welcome .card-title {
  color: #000000;
  font-family: "Basier Circle Medium";
  margin-bottom: 1rem;
}

/*# sourceMappingURL=home.css.map */
