@font-face {
  font-family: "Basier Circle Bold";
  src: url("../fonts/BasierCircle-Bold.eot");
  src: url("../fonts/BasierCircle-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BasierCircle-Bold.woff2") format("woff2"), url("../fonts/BasierCircle-Bold.woff") format("woff"), url("../fonts/BasierCircle-Bold.ttf") format("truetype"), url("../fonts/BasierCircle-Bold.svg#BasierCircle-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Basier Circle SemiBold";
  src: url("../fonts/BasierCircle-SemiBold.eot");
  src: url("../fonts/BasierCircle-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BasierCircle-SemiBold.woff2") format("woff2"), url("../fonts/BasierCircle-SemiBold.woff") format("woff"), url("../fonts/BasierCircle-SemiBold.ttf") format("truetype"), url("../fonts/BasierCircle-SemiBold.svg#BasierCircle-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Basier Circle Medium";
  src: url("../fonts/BasierCircle-Medium.eot");
  src: url("../fonts/BasierCircle-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BasierCircle-Medium.woff2") format("woff2"), url("../fonts/BasierCircle-Medium.woff") format("woff"), url("../fonts/BasierCircle-Medium.ttf") format("truetype"), url("../fonts/BasierCircle-Medium.svg#BasierCircle-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Basier Circle Regular";
  src: url("../fonts/BasierCircle-Regular.eot");
  src: url("../fonts/BasierCircle-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BasierCircle-Regular.woff2") format("woff2"), url("../fonts/BasierCircle-Regular.woff") format("woff"), url("../fonts/BasierCircle-Regular.ttf") format("truetype"), url("../fonts/BasierCircle-Regular.svg#BasierCircle-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Thonburi Bold";
  src: url("../fonts/SFThonburi-Bold.eot");
  src: url("../fonts/SFThonburi-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFThonburi-Bold.woff2") format("woff2"), url("../fonts/SFThonburi-Bold.woff") format("woff"), url("../fonts/SFThonburi-Bold.ttf") format("truetype"), url("../fonts/SFThonburi-Bold.svg#SFThonburi-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Thonburi Regular";
  src: url("../fonts/SFThonburi-Regular.eot");
  src: url("../fonts/SFThonburi-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFThonburi-Regular.woff2") format("woff2"), url("../fonts/SFThonburi-Regular.woff") format("woff"), url("../fonts/SFThonburi-Regular.ttf") format("truetype"), url("../fonts/SFThonburi-Regular.svg#SFThonburi-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.input-group > .form-control:focus,
.input-group > .form-select:focus {
  outline: 0 !important;
  box-shadow: none;
}

.form-control::placeholder {
  color: #fff;
}

section {
  --space: 5rem;
}
section h1,
section h2,
section h3,
section h4 {
  color: #3E9E6C;
}
section h4 {
  font-size: 18px;
}
section select {
  position: relative;
}
section select:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #3E9E6C transparent transparent transparent;
}
section .btn-primary {
  background-color: #3E9E6C;
  border-color: #3E9E6C;
  border-radius: 40px;
  font-size: 14px;
  padding: 10px 30px;
  min-width: 130px;
  text-transform: uppercase;
}
section .btn-primary:hover {
  background-color: #00423E;
  border-color: #00423E;
}
section .btn {
  font-size: 13px !important;
}
section .btn-outline {
  border: 2px solid #fff;
}
section .btn-outline:hover {
  background-color: #fff;
  color: #3E9E6C !important;
}
section .badge-primary {
  border: 2px solid #d0d0d0;
}
section .pagination {
  justify-content: center;
  margin-bottom: 0;
}
section .pagination .page-link {
  color: #f7c67f;
  background-color: transparent;
  border-color: transparent;
}
section .pagination .page-link:hover {
  border-color: #00423E;
  border-radius: 0.25rem;
}
section .pagination .disabled .page-link {
  color: #f7c67f;
  background-color: transparent;
  border-color: transparent;
}
section .card {
  background: transparent;
  border: none;
}
section .card-rating {
  border-color: inherit;
}
section .card-title {
  text-align: left;
  white-space: nowrap;
  margin: 1rem 0 0;
}
section .card-body {
  padding: 1rem 0 0;
  text-align: left;
}
section .card-footer {
  background: transparent;
  border: none;
  text-align: left;
  padding: 0;
  margin: 2rem 0 0;
}
section.section-intro {
  background-color: #FFFAF2;
  padding-top: var(--space);
  padding-bottom: var(--space);
}
section.section-intro form {
  padding-bottom: var(--space);
}
section.section-intro .lead-main {
  max-width: 600px;
  margin: auto;
}
section.section-intro .filter-select .form-control {
  border-color: #F0D8B3;
  background-color: #FFFAF2;
  border-radius: 60px;
  width: 200px;
  height: 50px;
  padding: 10px 20px;
  color: #3E9E6C;
}
@media screen and (min-width: 768px) {
  section.section-intro .filter-select .btn-primary {
    margin-left: 1.5rem;
  }
}
section.section-intro .swiper {
  width: calc(100% - 5px);
  min-height: 500px;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  margin-right: 0;
}
section.section-intro .swiper-wrapper, section.section-intro .swiper-slide {
  height: 100%;
  position: relative;
}
section.section-intro .swiper-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
section.section-intro .swiper-img img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
section.section-intro .swiper-button-prev, section.section-intro .swiper-button-next {
  background-color: #00423E;
  width: 50px;
  height: 50px;
  border-radius: 0.25rem;
  top: auto;
  bottom: 30px;
  left: auto;
  transition: all 0.15s ease-in-out;
}
section.section-intro .swiper-button-prev:hover, section.section-intro .swiper-button-next:hover {
  background-color: #3E9E6C;
}
section.section-intro .swiper-button-prev:after, section.section-intro .swiper-button-next:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 40%;
  left: 40%;
}
section.section-intro .swiper-button-prev {
  right: 410px;
}
section.section-intro .swiper-button-prev:after {
  content: "";
  border-style: solid;
  border-width: 5px 10px 5px 0;
  border-color: transparent #3FDD6E transparent transparent;
}
section.section-intro .swiper-button-next {
  right: 350px;
}
section.section-intro .swiper-button-next::after {
  content: "";
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #3FDD6E;
}
section.section-intro .section-slide-1 .card {
  background-color: #00423E;
  color: #fff;
  border: none;
  text-align: left;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
section.section-intro .section-slide-1 .card .icon-leaf {
  padding: 20px 20px 0 0;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  right: 0;
}
section.section-intro .section-slide-1 .card-body {
  padding: 1.5rem 2.5rem 2.5rem;
}
section.section-intro .section-slide-1 .card-title {
  min-height: 60px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}
section.section-intro .section-slide-1 .card-img {
  border: none;
}
section.section-intro .section-slide-1 .card .btn-primary {
  margin-top: 2rem;
  font-family: "Basier Circle Medium";
}
section.section-intro .section-slide-1 .swiper-content {
  z-index: 1;
  max-width: 320px;
  text-align: left;
  padding: 30px;
  background: rgba(255, 255, 255, 0.48);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  position: relative;
}
section.section-intro .section-slide-1 .swiper-content .btn-outline {
  border-color: #d0d0d0;
}
section.section-intro .section-slide-1 .swiper-content .btn-outline:hover {
  background-color: #d0d0d0;
  color: #fff !important;
}
section.section-intro .section-slide-1 .swiper-content .recommend {
  background-color: #00423E;
  color: #fff;
  padding: 12px 15px;
  border-radius: 10px;
  max-width: 150px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
section.section-intro .section-slide-1 .swiper-content .product-details-percent, section.section-intro .section-slide-1 .swiper-content .product-details-tags {
  color: #000000;
}
section.section-intro .section-slide-1 .swiper-content .product-details-percent {
  margin-bottom: 1.5rem;
}
section.section-intro .section-slide-1 .swiper-content .product-details-percent ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 180px;
  grid-template-columns: 1fr 1fr;
  white-space: nowrap;
}
section.section-intro .section-slide-1 .swiper-content .product-details-percent ul img {
  margin-right: 0.25rem;
}
section.section-intro .section-slide-1 .swiper-content .product-details-percent ul li + li {
  margin-left: 0.5rem;
}
section.section-intro .section-slide-1 .swiper-content .product-details-tags .btn {
  padding: 15px;
}
section.section-intro .section-slide-1 .swiper-content .product-details-tags img {
  margin-right: 0.25rem;
}
section.section-intro .section-slide-1 .swiper-content .product-details-tags span + span {
  margin-left: 0.5rem;
}
section.section-intro .section-slide-1 .swiper-content .btn-learn-more {
  width: 100%;
  max-width: 400px;
  margin: 2rem auto 0;
  padding: 15px;
  font-family: "Basier Circle Medium";
}
section.section-intro .section-slide-2 {
  margin-top: 5px;
}
section.section-intro .section-slide-2 .card {
  background-color: #3E9E6C;
  color: #fff;
  border: none;
  text-align: left;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  z-index: 2;
  height: 100%;
  color: #fff;
}
section.section-intro .section-slide-2 .card-body {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.section-intro .section-slide-2 .card-title {
  color: #fff;
  margin-bottom: 0;
}
section.section-intro .section-slide-2 .card-text {
  margin: 1.5rem 0;
}
section.section-intro .section-slide-2 .card .btn {
  width: 100%;
  max-width: 200px;
  padding: 15px;
  font-family: "Basier Circle Medium";
  border-radius: 60px;
  color: #fff;
  text-transform: uppercase;
}
section.section-intro .section-slide-2 .swiper {
  height: 350px;
  min-height: auto;
}
section.section-intro .section-slide-2 .swiper-content {
  height: 100%;
  margin-left: auto;
}
section.section-intro .section-slide-2 .swiper-button-next {
  right: calc(33.33333333% + 30px);
}
section.section-intro .section-slide-2 .swiper-button-prev {
  right: calc(33.33333333% + 90px);
}
section.section-popular {
  background-color: #FFF3E0;
  padding-top: var(--space);
  padding-bottom: var(--space);
}
section.section-popular .lead-main {
  border-bottom: 1px solid #f3e1c4;
  padding-bottom: calc(var(--space) / 2);
  margin-bottom: calc(var(--space) / 2);
}
section.section-popular .lead-main h2 {
  margin-bottom: 1rem;
}
section.section-popular .card {
  background: transparent;
  border: none;
}
section.section-popular .card-rating {
  border-color: #f3e1c4;
}
section.section-popular .pagination {
  margin-top: var(--space);
}
section.section-subscribe {
  background-color: #00423E;
  color: #fff;
  position: relative;
  min-height: 400px;
}
section.section-subscribe .icon-leaf {
  position: absolute;
  right: 30px;
  top: 30px;
}
section.section-subscribe .card {
  padding: 4rem 0;
  max-width: 430px;
}
section.section-subscribe .card-title {
  margin: 0 0 1.5rem;
}
section.section-subscribe .card-body {
  padding: 0;
}
section.section-subscribe .input-group {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
section.section-subscribe .input-group input {
  background-color: transparent;
  color: #fff;
  border-color: #007871;
  height: 60px;
  border-radius: 0.5rem;
}
section.section-subscribe .input-group .btn-primary {
  border-radius: 0.5rem;
  margin-left: -10px;
}
section.section-subscribe .input-group .btn-primary:hover {
  background-color: #007871;
  border: 1px solid #007871;
}
section.section-subscribe .product-hot {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
}
section.section-subscribe .product-hot:before {
  content: "";
  position: absolute;
  background: url("../images/home/subscribe_img_01.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  right: 0;
  top: 0;
}

.card-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  padding: 1rem 0;
  margin: 1.5rem 0;
  color: #3E9E6C;
}
.card-rating .star-rating {
  direction: rtl;
  display: inline-block;
  cursor: default;
}
.card-rating .star-rating input[type=radio] {
  display: none;
}
.card-rating .star-rating label {
  color: #3E9E6C;
  font-size: 18px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card-rating .star-rating label .bi-star-fill {
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.card-rating .star-rating label .bi-star-fill.active {
  opacity: 1;
}
.card-rating .star-rating label:hover,
.card-rating .star-rating label:hover ~ label,
.card-rating .star-rating input[type=radio]:checked ~ label {
  color: #3E9E6C;
}
.card-rating .star-rating label:hover .bi-star-fill,
.card-rating .star-rating label:hover ~ label .bi-star-fill,
.card-rating .star-rating input[type=radio]:checked ~ label .bi-star-fill {
  opacity: 1;
}

/*# sourceMappingURL=home.css.map */
