@font-face {
  font-family: "Basier Circle Bold";
  src: url("../fonts/BasierCircle-Bold.eot");
  src: url("../fonts/BasierCircle-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BasierCircle-Bold.woff2") format("woff2"), url("../fonts/BasierCircle-Bold.woff") format("woff"), url("../fonts/BasierCircle-Bold.ttf") format("truetype"), url("../fonts/BasierCircle-Bold.svg#BasierCircle-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Basier Circle SemiBold";
  src: url("../fonts/BasierCircle-SemiBold.eot");
  src: url("../fonts/BasierCircle-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BasierCircle-SemiBold.woff2") format("woff2"), url("../fonts/BasierCircle-SemiBold.woff") format("woff"), url("../fonts/BasierCircle-SemiBold.ttf") format("truetype"), url("../fonts/BasierCircle-SemiBold.svg#BasierCircle-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Basier Circle Medium";
  src: url("../fonts/BasierCircle-Medium.eot");
  src: url("../fonts/BasierCircle-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BasierCircle-Medium.woff2") format("woff2"), url("../fonts/BasierCircle-Medium.woff") format("woff"), url("../fonts/BasierCircle-Medium.ttf") format("truetype"), url("../fonts/BasierCircle-Medium.svg#BasierCircle-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Basier Circle Regular";
  src: url("../fonts/BasierCircle-Regular.eot");
  src: url("../fonts/BasierCircle-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BasierCircle-Regular.woff2") format("woff2"), url("../fonts/BasierCircle-Regular.woff") format("woff"), url("../fonts/BasierCircle-Regular.ttf") format("truetype"), url("../fonts/BasierCircle-Regular.svg#BasierCircle-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Thonburi Bold";
  src: url("../fonts/SFThonburi-Bold.eot");
  src: url("../fonts/SFThonburi-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SFThonburi-Bold.woff2") format("woff2"), url("../fonts/SFThonburi-Bold.woff") format("woff"), url("../fonts/SFThonburi-Bold.ttf") format("truetype"), url("../fonts/SFThonburi-Bold.svg#SFThonburi-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Thonburi Regular";
  src: url("../fonts/SFThonburi-Regular.eot");
  src: url("../fonts/SFThonburi-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFThonburi-Regular.woff2") format("woff2"), url("../fonts/SFThonburi-Regular.woff") format("woff"), url("../fonts/SFThonburi-Regular.ttf") format("truetype"), url("../fonts/SFThonburi-Regular.svg#SFThonburi-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
section {
  --space: 5rem;
  --font-size: 12px;
}
section h1,
section h2,
section h3,
section h4 {
  color: #3E9E6C;
  font-family: "Basier Circle Medium";
}
section h4 {
  font-size: 18px;
}
section a {
  color: #3E9E6C;
}
section a:not([href]):not([class]), section a:not([href]):not([class]):hover {
  color: #3E9E6C;
  text-decoration: underline;
}
section a:hover {
  color: #3E9E6C;
  text-decoration: none;
}
section input {
  color: #636363 !important;
}
section input::placeholder {
  color: #636363;
  font-size: 90%;
}
section input:focus {
  outline: none !important;
  box-shadow: none !important;
}
section .progress {
  height: 7px;
  border-radius: 1rem;
  margin-top: 0.25rem;
}
section .progress-bar {
  height: 7px;
  background-color: #3E9E6C;
  border-radius: 1rem;
}

.main {
  --space: 100px;
}
.main .swiper {
  max-width: 450px;
  margin-left: 0;
}
.main .swiper .card-rating {
  margin-right: 110px;
  border: none;
  justify-content: flex-start;
  margin-top: 0;
}
.main .swiper .card-rating .star-rating {
  margin-left: 20px;
}
.main .swiper-button-next {
  right: 0;
}
.main .swiper-button-prev {
  right: 60px;
}
.main #part-1 {
  margin-bottom: var(--space);
}
.main #part-2 .row {
  --bs-gutter-x: 4.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.main #part-2 .form-report {
  max-width: 570px;
  position: relative;
}
.main #part-2 .form-report i {
  position: absolute;
  top: 10px;
}
.main #part-2 .form-report i.bi-chat-square-text {
  left: 20px;
}
.main #part-2 .form-report i.bi-info-circle {
  right: 20px;
}
.main #part-2 .form-report input {
  background-color: #F6F6F6;
  border-radius: 60px;
  height: 40px;
  border: none;
  padding: 10px 50px;
}
.main #part-2 .product-details-tags {
  justify-content: space-between;
}
.main #part-2 .product-details-tags .btn {
  width: calc(33.333% - 15px);
  font-size: 120%;
}
.main #part-2 .product-details-tags .btn img {
  max-width: 30px;
  margin: 0 0 8px;
}
.main #part-2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main #part-2 ul h4 {
  text-decoration: underline;
}
.main #part-2 .card-note {
  color: #9f9f9f;
}
.main #part-2 .card-note p {
  font-size: 12px;
}
.main #part-2 .card-note .card-body {
  padding: 1rem;
}
.main .review-wrapper a {
  text-decoration: underline;
}
.main .review-wrapper .btn-outline {
  border-color: #3E9E6C;
  background: transparent;
  color: #3E9E6C;
  text-transform: capitalize;
  border-radius: 60px;
  padding: 10px 30px;
  min-width: 130px;
  text-transform: uppercase;
  border-width: 1px;
  text-decoration: none;
}
.main .review-wrapper .btn-outline:hover {
  background-color: #3E9E6C;
  color: #fff !important;
}
.main .review-wrapper .review-list .border-start {
  border-color: #3E9E6C !important;
}
.main .review-wrapper .review-list .card {
  border-radius: 15px;
  margin-bottom: 30px;
}
.main .review-wrapper .review-list .card-header {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}
.main .review-wrapper .review-list .card-info {
  display: flex;
  align-items: center;
}
.main .review-wrapper .review-list .card-info .author {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main .review-wrapper .review-list .card-body {
  padding: 30px;
}
.main .review-wrapper .review-list .card-footer {
  color: #9c9c9c;
  font-size: 13px;
  align-items: flex-end;
}
.main .review-wrapper .review-list .card-helpful .btn-helpful {
  color: #3E9E6C;
  font-family: "Basier Circle Medium";
  margin-top: 20px;
}
.main .review-wrapper .review-list .card-helpful .btn-helpful i {
  margin-right: 5px;
}
.main .review-wrapper .review-list .card-desc span {
  color: #9c9c9c;
  font-size: 13px;
}
.main .review-wrapper .review-list .card-date {
  font-size: 80%;
}
.main .review-wrapper .review-list .card-rating {
  border: none;
  margin: 0 0 0 15px;
  padding: 0 0 0 15px;
}
.main .review-title span {
  color: #bfbfbf;
  font-size: 16px;
}

/*# sourceMappingURL=strain_detail.css.map */
